.Shapka {
    display: grid;
    height: 100%;
    gap: 110px;
    justify-self: center;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 75px;
    margin-right: 75px
}

body {
    text-align: center;
    font-family: Mulish, sans-serif;
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
}

.Logo {
    border-radius: 50%; 
    margin: 8.5px; 
    padding: 0; 
    width: 75px; 
    height: 72px;
    transition: ease;
    transition: width 0.3s ease;
    transition: height 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Logo:hover {
    width: 112.5px;
    height: 108px;
}

header {
    background-color: #1a2c4e; 
    padding: 0px; 
    margin: 0;
    width: 100%;
    display: grid;
    justify-self: center
}

.FirstH1 {
    width: 960px;
    height: 100%;
    justify-self: center;
    align-items: center;
    margin-top: 100px;

}

.TradeCard {
    border-radius: 25px;
    background-color: #d9d9d9;
    width: 400px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 60px 280px 60px;
    grid-template-rows: 50px 150px 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.PriceBtn {
    color: white;
    background-color: #ff6b35;
    display: grid;
    justify-content: center;
    border-radius: 25px;
    width: 180px;
    height: 60px;
    align-items: center;
    margin-top: 0px;
    font-size: 16px;
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.PriceBtn:hover {
    color: black;
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    border-radius: 25px;
    width: 180px;
    height: 60px;
    align-items: center;
    margin-top: 0px;
    font-size: 16px;
    grid-column: 2;
    grid-row: 3;
    justify-self: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.CardsGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 280px;
    margin-right: 280px;
    margin-bottom:100px;
    gap: 20px;
}

.CardsLogos {
    justify-self: center; 
    width: 36px; 
    height: 36px; 
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Checker {
    display: grid;
    width:250px;
    height: 120px;
    grid-template-columns: 150px 100px;
    grid-template-rows: 60px 60px;                    
    background-color: #ffffff;
    border-radius: 25px;
    margin-bottom: 50px;
    justify-self: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.DopUsl {
    width: 600px;
    height: 500px;
    background-color: #d9d9d9;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 125px);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Konkurs {
    background-image: url(ad2.png);
    width: 600px;
    height: 500px;
    border-radius: 25px;
    background-size: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Misc {
    display:grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 500px;
    margin-left: 75px;
    margin-right: 75px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.Otzyv {
    width: 290px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #d9d9d9;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Otzyvy {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 280px;
    margin-right: 280px;
    gap: 10px;
    margin-bottom: 100px
}

.Abzac {
    justify-self: center;
    margin: 20px;
}

.Contacts {
    width: 180px;
    height: 62px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-color: #ff6b35;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items:center;
    gap: 0px;
    grid-template-columns: 40px 40px 100px;
    justify-content: center;
    grid-column: 6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Abzasy {
    display:grid;
    color: white;
    justify-content: center;
    align-items:center; 
    font-size: 8px;
    margin: 0;
    padding: 0;
    row-gap: 0px;
    grid-template-rows: 1fr 1fr 1fr;
}

footer {
    background-color: #1a2c4e;
}

main {
    margin-left: 75px;
    margin-right: 75px;
    justify-content: center;
    align-items: center;
    display: grid;
}

.TextHover:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}